<h1>Enter New Song</h1>
<form action='/songs' method="POST">
  <label for="song[name]"> Name: </label>
  <input name="song_name" id="Name" type="text">
  <br>

   <h3>Genres:</h3>
    <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>">
    <br>
    <% end %>
<br>

   <label for="artist[name]">Artist Name: </label>
  <input type="text" name="artist_name" id="Artist Name">

   <input type="submit" value="Create Song" id="submit">


 </form>