<h3>Menu</h3>

<ul>
  <li><a href="/songs/new">Add a New Song</a>
  <li><a href="/songs">See All your Songs</a></li>
  <li><a href="/artists">See All the Artists</a></li>
  <li><a href="/genres">See All the Genres</a></li>
</ul>
